
.book-now-button{
    text-decoration: none;
    color: #3F87F5;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
.hot-card{
    background: #3F87F5;
    border-radius: 30px;
    box-shadow: 10px 10px 30px;
}
.hot-card button{
    position: relative;
    left: 90%;
}
.hot-card a{
    border-radius: 45px;
}